.about {
  position: relative;
  max-width: 1128px;
  padding: 0 22px;
  margin: 111px auto 8px;

  &__logo{
    display: none;
  }

  &__content{
    position: relative;
    max-width: 390px;
    margin: 0 0 0 auto;
    color: #6C798B;
    font-size: 14px;
    line-height: 28px;
    font-weight: 300;

    h1{
      margin-bottom: 20px;
      font-size: 36px;
      font-weight: 100;
      line-height: 54px;
    }

    p{
      margin-bottom: 28px;
    }

    &-img{
      width: 100%;
      max-width: 360px;
      margin-bottom: 25px;
      box-shadow: 0 10px 44px 0 rgba(0,0,0,0.1);
      overflow: hidden;

      img{
        display: block;
        width: 100%;
      }

    }

    &_2{
      margin-bottom: 22px;
    }

  }

  &__agency-photo{
    position: relative;
    max-width: 960px;
    margin-bottom: 25px;
    box-shadow: 0 10px 44px 0 rgba(0,0,0,0.1);

    img{
      display: block;
      width: 100%;
    }

  }

  &__afterword{
    color: #6C798B;
    font-size: 19px;
    line-height: 29px;
    font-weight: 100;
  }

  &__footer{
    position: relative;
    margin-bottom: 33px;
    padding: 64px 22px;
    color: #6C798B;
    font-size: 19px;
    font-weight: 100;
    line-height: 29px;
    text-align: center;
  }

}

@media (min-width: $tablet-portrait) {
  .about {
    margin: 195px auto 8px;

    &__footer{
      padding: 154px 22px;
      font-size: 36px;
      line-height: 54px;

      &:after{
        position: absolute;
        bottom: 0;
        left: 50%;
        right: 0;
        height: 97%;
        width: 100%;
        max-width: 1440px;
        background: url(../img/dots@2x.png) no-repeat center -32px;
        background-size: 100% auto;
        transform: translateX(-50%);
        content: '';
      }

    }

    &__logo{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 10px;
      left: 62px;

      img{
        display: block;
        max-width: 100%;

        &:nth-child(1){
          max-width: 200px;
          max-height: 217px;
        }

        &:nth-child(2){
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          max-width: 300px;
          max-height: 45px;
        }

      }

    }

    &__content{

      &-img{
        position: relative;
        right: calc( 100% - 60px);
        margin: -8px 0 30px;
      }

      &_2{
        margin: 0 0 24px 14px;
      }

    }

    &__agency-photo{
      right: -13px;
      margin: 0 0 112px auto;
    }

    &__afterword {
      margin-left: 23px;
      font-size: 24px;
      line-height: 40px;
    }

  }
}

@media (min-width: $desktop) {
  .about {

    &__logo{
      left: 32px;

      img{

        &:nth-child(1){
          max-width: 400px;
          max-height: 434px;
        }

        &:nth-child(2){
          max-width: 600px;
          max-height: 71px;
        }

      }

    }

    &__content{

      &-img{
        right: calc( 100% + 12px);
        margin: -108px 0 120px;
      }

      &_2{
        margin: 0 0 104px 14px;
      }

    }

  }
}

