.how-we-work {
  padding: 20px 15px;
  @include prompt();
  color: rgba(108,121,139,1);
  text-align: center;

  p {
    padding: 0 15px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    max-width: 340px;
    padding: 30px 15px;
    margin-bottom: 30px;
    background-color: rgba(255,255,255,1);
    box-shadow: 0 10px 44px 0 rgba(0,0,0,0.1);
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;

    h2 {
      display: block;
      color: rgba(108,121,139,1);
      font-size: 30px;
      font-weight: 100;
      line-height: 40px;
    }

    svg {
      height: 100px;
      margin-bottom: 15px;
    }
  }
}

@media (min-width: $tablet-portrait) {
  .how-we-work {

    &__list {
      justify-content: space-between;
    }

    &__item {
      width: 30%;
    }
  }
}

@media (min-width: $desktop) {
  .how-we-work {
    max-width: 1172px;
    margin: 0 auto;
    padding: 169px 0 0;


    &__list {

    }

    &__item {
      //height: 497px;
      width: 340px;
      margin: 0 25px;
      padding: 70px 50px 96px;

      h2 {
        margin-bottom: 22px;
        font-size: 36px;
        line-height: 54px;
      }

      svg {
        height: auto;
        margin-bottom: 20px;
      }

      &.target {

        svg {
          position: relative;
          top: 5px;
          left: 13px;
        }
      }

      &.convert {

        svg {
          position: relative;
          left: 5px;
          margin-bottom: 8px;
        }
      }
    }
  }
}

